
week1/w1day3/clase/newtest/
week7/aisles.csv
week7/aisles.csv.zip
week7/departments.csv
week7/departments.csv.zip
week7/instacart-market-basket-analysis.zip
week7/order_products__prior.csv
week7/order_products__prior.csv.zip
week7/order_products__train.csv
week7/order_products__train.csv.zip
week7/orders.csv
week7/orders.csv.zip
