
week1/w1day3/clase/newtest/
week7/aisles.csv
week7/aisles.csv.zip
week7/departments.csv
week7/departments.csv.zip
week7/instacart-market-basket-analysis.zip
week7/order_products__prior.csv
week7/order_products__prior.csv.zip
week7/order_products__train.csv
week7/order_products__train.csv.zip
week7/orders.csv
week7/orders.csv.zip
*.zip
week8/project/Bacardi/Data Distillery Video.pptx
week8/project/Bacardi/Files/Digital_Commerce_Market Share US_UEBig5.xlsx
week8/project/Bacardi/Files/Digital_Commerce_Pure Players_US_UEbig5.xlsb
week8/project/Bacardi/Files/Digital_Commerce_RetailersCom_US_UEBig5.xlsx
week8/project/Bacardi/Files/Market_share_clean_v2.xlsx
week8/project/Bacardi/Files/pureRetailersCleanv1.csv
week8/project/Bacardi/Files/pureRetailersDuplicates.csv
week8/project/Bacardi/Ironhack - Bacardi Presentation v2.pptx
week8/project/Bacardi/Ironhack - Project Presentation v1.pptx
